<%if notice %>
 <aside id="notice"><%= notice %></aside>
 <% end %>
 
 <h1> Store Front </h1>

 <ul class="store_parent">
		<% @user_and_item.each do |item, user_email| %>
			<div class= store_item rounded-corners parent-shadow>
					<h2>
					<%= item.title %> 
					</h2>
					<p>
							<%= sanitize(item.body)%>
					</p>
					<div>
					<p> Seller: <%= user_email %></p>
					</div>
			</div>
		<% end %>
 </ul>